body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

p{
    display: inline-block;
    text-align: center;        
    background: #1677af;  
    color: white;      
    margin: 10px 10px;
    padding: 10px;
    width: 300px;
    vertical-align: middle;
    height: 35px;
    
    border-radius: 4%;    
}

p:hover{
  background: #1c0264;     
  
}

.titulo{
    font-weight: strong;
    font-style: bold;
    font-size: 20px;
}


.correta {
    background: green;    
  }
  
.errada {
    background: red;    
  }
  
 #mensagem {
    font-weight: bold;
  }
  
.escondido {
    display: none;
  }